h1  {font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 30pt; text-align: center;}
.loginbutton    {color: black;text-decoration: none;border-style: solid; border-color: black;}
.line {height: 10pt; border: none; color: black;background-color: black;}
.selected {background-color: black;color: white;}
.button1 {width: 80pt; height: 30pt; border-style: solid; background-color: lightgreen; padding: .5em; 
    border-color: lime; border-width: 2pt; margin: .5em; font-weight: bold;}
.cancelbutton {width: 50pt; height: 30pt; border-style: solid; background-color: tomato; padding: .5em; 
    border-color: red; border-width: 2pt; margin: .5em;font-weight: bold;}
.button3 {width: 80pt; height: 30pt; border-style: solid; background-color: turquoise; padding: .5em; 
    border-color: lightseagreen; border-width: 2pt; margin: .5em;font-weight: bold;}