* {max-width: 1020px; margin-left: auto; margin-right: auto; position: relative; }
h1  {width: 1020px; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 30pt; text-align: center;}
.div1 {
    width: 450px;
    height: 450px;
    border: 5px solid gray;
    margin: 10px;
    float: left;
  }
.div2 {
    width: 450px;
    height: 450px;
    border: 5px solid gray;
    margin: 10px;
    float: left;
  }
.notselected   {color: black;text-decoration: none;}
.line {height: 10pt; width: 1020px; border: none; color: black;background-color: black;}
.selected {color: black; text-decoration-line: underline; text-decoration-color: red; text-decoration-thickness: 5pt;}
.button1 {width: 80pt; height: 30pt; border-style: solid; background-color: lightgreen; padding: .5em; 
    border-color: lime; border-width: 2pt; margin: .5em; font-weight: bold;}
.cancelbutton {width: 50pt; height: 30pt; border-style: solid; background-color: tomato; padding: .5em; 
    border-color: red; border-width: 2pt; margin: .5em;font-weight: bold;}
.button3 {width: 80pt; height: 30pt; border-style: solid; background-color: turquoise; padding: .5em; 
    border-color: lightseagreen; border-width: 2pt; margin: .5em;font-weight: bold;}

.move {position: relative; animation: movingheader; animation-timing-function: linear; animation-duration: 2s; animation-direction: alternate;}

@keyframes movingheader 
{
    from {left: 1020px;}
    to {left: 0px;}    
}


.image1 {transition: transform 2s}
.image2 {transition: width 2s, height 2s}
.image1:hover {transform: rotate(360deg)}
.image2:hover {width:100%; height: 100%;}